In [36]:
import pandas as pd
import numpy as np
import re

In [166]:
data = pd.read_excel('Customer Call List.xlsx')
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [167]:
data.drop_duplicates(inplace=True)
data.drop(columns='Not_Useful_Column', inplace=True)

In [8]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       20 non-null     int64
 1   First_Name       20 non-null     object
 2   Last_Name        19 non-null     object
 3   Phone_Number     18 non-null     object
 4   Address          20 non-null     object
 5   Paying Customer  20 non-null     object
 6   Do_Not_Contact   16 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.2+ KB

In [168]:
data['Last_Name'] = data['Last_Name'].astype(str)
alphabet = r"[A-Za-z]"
for i, name in enumerate(data['Last_Name']):
    cleaned_name = re.sub(r'[^A-Za-z]', '', name)
    data['Last_Name'][i] = cleaned_name

C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name
C:\Users\hp\AppData\Local\Temp\ipykernel_15832\3473767861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last_Name'][i] = cleaned_name

In [22]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,nan,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [169]:
data.replace('N/a', np.nan, inplace=True)
data.dropna(subset=['Phone_Number'], inplace=True)
data.reset_index()

,index,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
7,9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
8,11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
9,12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
10,13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
11,14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
12,15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
13,16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
14,17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
15,19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [44]:
print(data['Do_Not_Contact'].unique())

['No' 'Yes' nan 'Y' 'N']

In [170]:
data.replace('nan', np.nan, inplace=True)
data.dropna(subset=['Do_Not_Contact'], inplace=True)

In [171]:
data.drop(data[(data['Do_Not_Contact']=='Yes') | (data['Do_Not_Contact']=='Y')].index, inplace=True)

In [89]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,N
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,N
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,N
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,N
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [172]:
data['Do_Not_Contact'] = data['Do_Not_Contact'].apply(lambda x: 'No' if x == 'N' else x)

In [157]:
print(data['Do_Not_Contact'].unique())

['No']

In [158]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

In [173]:

data['Paying Customer'] = data['Paying Customer'].apply(lambda x: 'Yes' if x == 'Y' else ('No' if x == 'N' else x))

In [174]:
data = data.reset_index()
data

,index,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No
2,7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No
3,9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
4,12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
5,13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
6,14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
7,15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
8,16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
9,19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

In [180]:
def split_address(address):
    parts = address.split(',')
    if len(parts) != 2:
        parts = [address, ""]  # Ensure correct list format
    return parts

data['Address'], data['State'] = zip(*data['Address'].apply(split_address))

In [184]:
order = ['index', 'CustomerID', 'First_Name', 'Last_Name', 'Phone_Number',
       'Address','State', 'Paying Customer', 'Do_Not_Contact']
data = data.reindex(columns=order)

In [185]:
data

,index,CustomerID,First_Name,Last_Name,Phone_Number,Address,State,Paying Customer,Do_Not_Contact
0,0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Yes,No
1,4,1005,Jon,Snow,876|678|3469,123 Dragons Road,,Yes,No
2,7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,,No,No
3,9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Yes,No
4,12,1013,Don,Draper,123-543-2345,2039 Main Street,,Yes,No
5,13,1014,Leslie,Knope,876|678|3469,343 City Parkway,,Yes,No
6,14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,,No,No
7,15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,,No,No
8,16,1017,Michael,Scott,123/643/9775,121 Paper Avenue,Pennsylvania,Yes,No
9,19,1020,Anakin,Skywalker,876|678|3469,910 Tatooine Road,Tatooine,Yes,No